/* Theme: Ketab
 * Author: Ahmed Essam	
 * Description: This is a completer RTL css for the theme inclduing
 *              transforming background images
 */

#header-right-col {
    float: left;
}

#header-left-col{
    float: right;
    text-align: right;
}

#search-form {
    float: left;
    margin-left: 34px;
}

#search-input {
    float: right;
    padding-left: 0;
    padding-right: 10px;
}

#site-title {
    font-family: 'Amiri', serif;
}

#content {
    float: right;
    margin: 17px 33px 17px 0;
}

#sidebar {
    float: left;
}